body {
  font-family: 'Arial', sans-serif;
}

.navbar-brand {
  color: #333;
}

.gallery-img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gallery-img:hover {
  transform: scale(1.03);
}

/* Zoom effect sa modal image */
.zoomable {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.zoomable:active {
  transform: scale(1.5);
  cursor: zoom-out;
}
